* {
    margin: 0;
    padding: 0;
    /* border: solid 1px red; */
}

body {
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color: rgb(243, 243, 243);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.3rem;
}

.sidebar {
    position: relative;
    display: flex;
    flex-direction: column;
    color: white;
    background-image: url("leafs.jpg");
    background-position: center;
    background-size:cover;
    justify-content: space-between;
    align-items: center;
  }

  .photo-credit {
      color: white;
      font-size: small;
  }

  .photo-credit a {
      color: white;
  }

.banner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    top: 15%;
    height: 20%;
    font-family: Norse;
    background-color: rgba(0, 0, 0, 0.575);
}

.banner img {
    height: 100%;
}

#odin {
    color: white;
}

.form {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.sentence {
    margin-top: 3.5rem;
}

form p {
    padding: 2.5rem 3rem 0.5rem 4rem;
    font-weight:bold;
}

form button {
    margin-top: 2rem;
    margin-left: 4rem;
    height: 3rem;
    width: 12rem;
    border-radius: 0.5rem;
    background-color: #596D48;
    color: white;
    font-weight: bold;
    box-shadow: 5px 6px 10px rgba(128, 128, 128, 0.315);
}

.form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    font-size: 1rem;
    background-color: white;
    padding-top: 2rem;
    padding-left: 4rem;
    padding-bottom: 2rem;
    margin-top: 6rem;
    box-shadow: 10px 5px 35px rgba(128, 128, 128, 0.342);
}


input:focus {
    border-color: blue;
    box-shadow: 5px 6px 10px rgba(128, 128, 128, 0.315);
  }

  input:invalid {
    border-color: rgba(255, 0, 0, 0.794);
    border-width: 3.5px;
    box-shadow: 5px 6px 10px rgba(128, 128, 128, 0.315);
  }

.names, .mail-phone, .pass-submit{
    display: flex;
    flex-direction: row;
    height: 3rem;
    width: 25rem;
    column-gap: 2rem;
}

input {
    width: 250px;
    height: 25px;
}

#account {
    font-size: medium;
}

#account a {
    color: #596D48;
}
